# Node modules / Bun dependencies
node_modules/
bun.lockb

# Compilados
dist/
build/
out/
*.log

# Configuración del sistema/IDE
.DS_Store
.vscode/
.idea/

# Archivos temporales
*.tmp
*.swp
*.swo
*.bak

# .env y secretos
.env
.env.*

# Test coverage
coverage/

# Archivos específicos
npm-debug.log*
yarn-debug.log*
bun-debug.log*
